body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.header{
    background-color: cyan;
    width: 100%;
    padding: 20px;
    position:relative;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
}
.header::after{
    content: "";
    display:table;
    clear: both;
}
#input1{
    width: 75%;
    border: none;
    float: left;
    font-size: 17px;
    padding: 10px;
    
}
.addbutton{
    padding: 10px;
    width: 25%;
    background-color: #d9d9d9;
    color: #555;
    cursor:pointer;
    float:left;
    font-size: 17px;
    text-align: center;
    transition: 0.3s;
}
.addbutton:hover{
    background-color: #bbb;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
    position: relative;
    padding: 12px 7px 10px 40px;
    background-color: #eee;
    font-size: 19px;
    transition: 0.2s;
    cursor: pointer;
    
 
    
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd){
    background-color: #f9f9f9;
}
ul li:hover{
    background-color: #ddd;

}
ul li.checked{
    text-decoration: line-through;
    background-color: #777;
    color: #ffffff;
}
ul li.checked::before{
    content: '';
    position: absolute;
    border-color:#fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform:rotate(45deg);
    height: 15px;
    width: 7px;
}
.close{
position:absolute;
right: 0;
top:0;
padding: 12px 20px 12px 14px;
}
.close:hover{
    background-color: #f44336;
    color: white;
}